@import "tailwindcss";
:root {
  --bg: #0b0b10;
}


body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial
}


/* small helper */
.container {
  max-width: 1100px;
}